.Dyv {
    font-size: 24px;
    color: black;
    background-color: white;
    padding: 20px;
    margin: 20px;
  }
  
  .btn {
    font-size: 16px;
    color: white;
    background-color: #008CBA;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  .btn:hover {
    background-color: #00587a;
  }
  
